<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.company.member.MemberMapper">
     
     <resultMap id="MemberResultMap" type="Member">
     	<result property="_id" column="id" />
     	<result property="_password" column="password" />
     	<result property="_name" column="name" />
     	<result property="_group" column="group" />
     	<result property="_level" column="level" />
     </resultMap>
     
     <select id="getMemberSQL" resultMap="MemberResultMap">
     	SELECT * FROM member
     </select>
     
     <insert id="insertMemberSQL" parameterType="com.company.Member">
     	INSERT INTO member values(#{_id},#{_password},#{_name},#{_group},#{_level});
     </insert>
     
</mapper>